#webstorm
.idea

#environment variables
.env


/node_modules/

yarn-error.log
yarn.lock

#build folder
/build/


#Text files -- Personal notes
mynotes.txt

#Todo-commenting-example:
todo-comment-example.ts

#Astthor notes in txt:
astthor-notes.txt